* {
	border: 5px solid red;
	box-sizing: border-box;
}
nav {
	text-align:center;
	height:100px;
}
nav a {
	margin: 3%;
	text-decoration: none;
	color: lightgrey;
}
nav a:hover{
	color: blue;
}

.headerText {
	display:inline-block;
	width: 50%;
	margin:0 auto;
	text-align:center;
	padding:50px 0px 50px 0px;
}
header img{
	text-align:right;
}
.button{
	width: 150px;
	height:35px;
	border:2px solid black;
	margin:0 auto;
	padding-top: 5px;
}
.button:hover{
	color:white;
	background-color:black;
	border:2px solid grey;
}

header h1 {
	font-size:70px;
}

.container{
	max-width: 90%;
	margin: 0 auto;
}
.box {
	display: inline-block;
}
.topContent{
	margin:50px 0;
}
.topContent .box{
	margin: 0 auto;
	width: 49.7%;
}
.middle-img{
	margin:0 auto;
	text-align: center;
	display: block;
}
.bottomContent{
	margin:50px 0;
}
.bottomContent .box{
	margin: 0 auto;
	width: 33%;
	padding: 10px;
}
.contact{
	display:block;
}
.contact .number{
	line-height: 1.5;
}
footer {
	text-align:center;
}

